<style>

  /* CSSアニメーションの設定 */
  .korokoro {
    animation: korokoro 2.5s linear 0s 1;
  }

  @keyframes korokoro {
    0%   { transform: translate(0%, 0%); }
    5%   { transform: translate(10%, 0%) rotate(10deg); }
    25%  { transform: translate(20%, 0%) rotate(20deg); }
    30%  { transform: translate(-10%, 0%) rotate(-10deg); }
    35%  { transform: translate(-15%, 0%) rotate(-15deg); }
    45%  { transform: translate(10%, 0%) rotate(10deg); }
    50%  { transform: translate(15%, 0%) rotate(15deg); }
    60%  { transform: translate(-5%, 0%) rotate(-5deg); }
    65%  { transform: translate(-7%, 0%) rotate(-7deg); }
    75%  { transform: translate(0%, 0%) rotate(0deg); }
    100% { transform: translate(0%, 0%) rotate(0deg); }
  }

  .kyupeen_1 {
    animation: kyupeen_1 1s infinite linear;
  }

  .kyupeen_2 {
    animation: kyupeen_2 1s infinite linear;
  }

  @keyframes kyupeen_1 {
    0%   { transform: rotate(20deg) scale(1);}
    50%  { transform: rotate(10deg) scale(0.5);}
    100% { transform: rotate(20deg) scale(1);}
  }

  @keyframes kyupeen_2 {
    0%   { transform: rotate(10deg) scale(0.5);}
    50%  { transform: rotate(20deg) scale(1);}
    100% { transform: rotate(10deg) scale(0.5);}
  }
</style>

<script>
    // CSSアニメーションを間隔を空けてループ再生させる処理
    function looopAnimation(id, className, delay) {
        var element = document.getElementById(id);
        element.addEventListener("animationend", listener);

        function listener(event) {
            event.target.classList.remove(className);
            setTimeout(playAnimation, delay);
        }

        function playAnimation() {
            element.classList.add(className);
        }
    }
</script>


<!-- vh, vw 指定 -->
<div style="position:relative;width: 100%;height: auto;">
  <!-- メモ leftにはvhではなくvwを指定することで横幅が狭くなってもスタイルが崩れなくできる -->
  <img id="logo_ruby" class="korokoro" src="<%= asset_path 'logo_ruby.png' %>" alt="" style="position:absolute;top:12vw;left:25vw" width="50%">
  <img id="logo_star_1" class="kyupeen_1" src="<%= asset_path 'logo_star.png' %>" alt="" style="position:absolute;top:10vw;left:23vw" width="10%">
  <img id="logo_star_2" class="kyupeen_2" src="<%= asset_path 'logo_star.png' %>" alt="" style="position:absolute;top:35vw;left:65vw" width="10%">
  <img src="<%= asset_path 'logo_base.png' %>" alt="" style="width:100%">
</div>

<hr>

<!-- % 指定 -->
<div style="position:relative;width: 100%;height: auto;">
  <img id="logo_ruby" class="korokoro" src="<%= asset_path 'logo_ruby.png' %>" alt="" style="position:absolute;top:12%;left:25%" width="50%">
  <img id="logo_star_1" class="kyupeen_1" src="<%= asset_path 'logo_star.png' %>" alt="" style="position:absolute;top:10%;left:23%" width="10%">
  <img id="logo_star_2" class="kyupeen_2" src="<%= asset_path 'logo_star.png' %>" alt="" style="position:absolute;top:50%;left:65%" width="10%">
  <img src="<%= asset_path 'logo_base.png' %>" alt="" style="width:100%">
</div>

<div class="container">
  <hr>
  メモ<br>
  スクリーン高さの相対値　style="height:10vh"<br>
  スクリーン幅の相対値　　style="width:10vw"<br>
  <hr>
  参考<br>
  <%= link_to 'コピペで使える！
CSS Animationだけで実現するキャラクターアニメーション', 'https://ics.media/entry/11336' %>
  <%= link_to 'CSSだけで色々な星を再現する（おまけ付き）', 'https://qiita.com/nekoneko-wanwan/items/8f8968dfeb459d81cdf1' %>
  <hr>
</div>

<script>
    // ID値「mitarashi」に対してCSSアニメ―ション「korokoro」を100ミリ秒の間隔を空けてループ再生
    looopAnimation("logo_ruby", "korokoro", 3000);
</script>
