<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/rails_default' %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<% if request.path_info == root_path %>
    <main role="main">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </main>

<% elsif request.path_info == map_path %>
      <%= yield %>
      <%= render 'layouts/footer' %>

<% else %>
    <div class="container body">
      <%= yield %>
      <hr class="featurette-divider">
    </div>
    <%= render 'layouts/footer' %>
<% end %>
</body>
</html>